* {
  margin: 0;
  padding: 0;
}

.top-head {
  background-color: #175cdd;
  display: flex;
  padding: 3px 40px;
  justify-content: space-between;
  color: white;
  gap: 10px;

  a {
    color: white;
  }
}

#main-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;

  #menu-items {
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    gap: 20px;
    position: sticky;
    z-index: 997;
  }
}

#section1 {
  display: flex;
  padding: 0px 40px;

  .section1-div {
    width: 50%;
  }

  #card-summary {
    #card-top {
      display: flex;
      justify-content: space-evenly;
      width: 50%;
      left: 0;

      .box {
        border: 1px solid #175ccd;
        border-radius: 5px;
        padding: 5px;
      }

      #card-description {
        display: flex;
        width: 50vw;
        padding: 5px;
      }

      #card-description span {
        color: #175ccd;
      }
    }
  }

  #image-schedule{
    padding: 0;
    width: 50vw;
  }



}





@media screen and (max-width: 1400px) {
  #outer {
    grid-template-columns: auto auto auto auto auto;
  }
}

@media screen and (max-width: 1200px) {
  #outer {
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (max-width: 1024px) {
  #outer {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 786px) {
  #outer {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 500px) {
  #outer {
    grid-template-columns: auto;
  }
}
