* {
  margin: 0;
  padding: 0;
}

#outer {
  display: grid;
  grid-template-columns: auto;
  padding: 40px;
  justify-content: space-around;
  row-gap: 40px;

  div {
    background-color: rgb(176, 127, 255);
    border: 1px solid black;
    height: 200px;
    width: 150px;
  }
}

@media screen and (min-width: 500px) {
  #outer {
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 786px) {
  #outer {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 1024px) {
  #outer {
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (min-width: 1200px) {
  #outer {
    grid-template-columns: auto auto auto auto auto;
  }
}

@media screen and (min-width: 1400px) {
  #outer {
    grid-template-columns: auto auto auto auto auto auto;
  }
}
