* {
  background-color: rgb(228, 255, 246);
  margin: 0;
  padding: 0;
}

.division {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  background-color: rgb(204, 239, 228);
  justify-content: space-evenly;
  border: 1px solid black;
}

.menu-div {
  display: grid;
  height: 25px;
  width: 100px;
  margin: 5px;
  padding: 5px;
  background-color: rgb(204, 239, 228);
}

a {
  margin: auto;
  padding: auto;
  background-color: rgb(204, 239, 228);
}

.content-writing {
  display: flex;
  background-color: rgb(204, 239, 228);
}

.section1 {
  display: grid;
  height: 600px;
  width: 10%;
  background-color: rgb(204, 239, 228);
  justify-content: first baseline;
  border: 1px solid black;
}

.section2 {
  display: grid;
  height: 600px;
  width: 90%;
  background-color: rgb(204, 239, 228);
  border: 1px solid black;
}
