*{
    display: flexbox;
    background-color: rgb(228, 255, 246);
    margin: 0;
    padding: 0;
    justify-content:space-evenly;
}

.division{
    display:flex;
    background-color: rgb(204, 239, 228);
}

.btn-div{
    background-color: rgb(94, 94, 144);
    display: grid;
    margin: auto;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
}

.menu-div{
    display: inline-flex;
    height: 25px;
    width: 100px;
    margin: 5px;
    padding: 5px;
    gap: 20px;
    background-color: rgb(204, 239, 228);
}

a{
    margin: auto;
    padding: auto;
    background-color: rgb(204, 239, 228);
}


