*{
    background-position: ;
    background-color: rgb(214, 217, 220);
}


#header-main{
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 3px;
    border-style: double;
    background-color:rgb(145, 176, 234);
}

#inner-box{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: blueviolet;
}

#inner-head a{
    background-color: black;
}


/* login form */

fieldset{
    height: 250px;
    width: 300px;
    display: flexbox;
    margin: auto;
    margin-top: 100px;
    color: rgb(73, 147, 222);
    background-color: rgb(198, 208, 217);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.button:hover{
    color: rgb(90, 154, 218);
    text-decoration: wavy;

}
